<div id="tf-service">
        <div class="container">

            <div class="col-md-12">

                <div class="media">
                  <div class="media-left media-middle">
                    <i class="fa fa-book"></i>
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">Manage Inventory</h2>
                        <table class="table table-striped table-hover" ng-show="books.length != 0">
                            <tr><th>Title</th><th>Author</th><th>Quantity</th><th>Add instance</th></tr>
                            <tr ng-repeat="book in books">
                                <td>{{book.title}}</td>
                                <td>{{book.authorName}}</td>
                                <td>{{book.quantity}}</td>
                                <td>
                                    <input type="number" ng-model="book.addQuantity" />
                                    <button ng-click="addInstance(book.id, book.addQuantity)">Add</button>
                                </td>
                            </tr>
                        </table>
                  </div>
                </div>

            </div>
        </div>
</div>